{% extends 'uploader/shared/base.html' %}
{%load static %}

{% block content %}
	<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Add Online News Manually</h2>
            </div>

            <div class="row clearfix">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">

                                <strong>{{field.name}} : {{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                ONLINE NEWS
                                <small>add online news</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                      
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form method="POST">
                               {% csrf_token %}

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input name="title" value="{{ form.title.value | default_if_none:'' }}" type="Title"  class="form-control">
                                        <label class="form-label">Judul Berita</label>
                                    </div>
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input name="file_pdf" value="{{form.file_pdf.value | default_if_none:''}}" type="url"  class="form-control">
                                        <label class="form-label">Link URL/Alamat Website</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                         <div class="form-group form-float">
                                            <div class="form-line focused">
                                               <select name="media_id" class="form-control show-tick">
                                                    <option value="">-- Please select --</option>
                                                    {% for media in medias %}
                                                      <option value="{{media.media_id}}"
                                                      {%if media.media_id == form.media_id.value%} selected="selected" {% endif%} 
                                                      >{{media.media_name}}</option>
                                                    {% endfor%}
                                                   
                                                </select>
                                                <label class="form-label">Media</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                         <div class="form-group form-float">
                                            <div class="form-line">
                                                <input value="{{form.journalist.value | default_if_none:''}}"  name="journalist" type="Title"  class="form-control">
                                                <label class="form-label">Journalist</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input value="{{form.datee.value | default_if_none:''}}" name="datee" type="text" class="datepicker form-control" placeholder="Please choose a date...">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input name="page" type="Title"  class="form-control"
                                                value="{{form.page.value | default_if_none:''}}">
                                                <label class="form-label">Halaman</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input name="mmcol" type="Title"  class="form-control"
                                                value="{{form.mmcol.value | default_if_none:''}}">
                                                <label class="form-label">Milimeter Column</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <br>    
                                <div class="form-group form-float">
                                    <div class="form-line">
                                         <label>Isi Berita</label>
                                         <textarea name="content" id="tinymce">{{form.content.value | default_if_none:''}}</textarea>

                                    </div>
                                </div>

                         <button class="float pull-right"><i class="glyphicon glyphicon-plus"></i></button>

                        </div>
                    </div>
                </div>
            </div>

            
          <!--   
            <a href="{% url 'upload-tv' %}" class="float pull-right">
                <i class="glyphicon glyphicon-plus" style="margin-top: 22px;"></i>
            </a>
             -->
            
        </div>
    </section>
{% endblock %}

{% block add_header %}
 <link href="{% static 'uploader/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />
<style type="text/css">
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#0C9;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }
</style>
{% endblock%}

{% block add_footer %}
<script src="{% static 'uploader/plugins/tinymce/tinymce.js' %}"></script>
  <script src="{% static 'uploader/plugins/momentjs/moment.js' %}"></script>
  <script src="{% static 'uploader/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

<script type="text/javascript">

	$(function () {

    
        //TinyMCE
        tinymce.init({
            selector: "textarea#tinymce",
            theme: "modern",
            height: 300,
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons',
            image_advtab: true
        });
        tinymce.suffix = ".min";
        tinyMCE.baseURL = '{% static "uploader/plugins/tinymce" %}';

        $('.datepicker').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD',
            clearButton: true,
            weekStart: 1,
            time: false
        });
        // dddd DD MMMM YYYY
    });
</script>
{% endblock%}
