{% extends 'uploader/shared/base.html' %}
{%load static %}

{% block content %}
	<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Add Media</h2>
            </div>

            <div class="row clearfix">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">

                                <strong>{{field.name}} : {{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                MEDIA
                                <small>add media</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                      
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form method="POST">
                               {% csrf_token %}
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <input  name="media_id" type="Title"  class="form-control" value="{{ form.media_id.value | default_if_none:'-'}}">
                                        <label class="form-label"> Media ID</label>
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input name="media_name" type="Title"  value="{{form.media_name.value | default_if_none:''}}" class="form-control">
                                        <label class="form-label">Nama Media</label>
                                    </div>
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                       <select name="media_type_id" class="form-control show-tick">
                                            <option  value="">-- Please select --</option>
                                            {% for type in media_types %}

                                              <option value="{{type.media_type_id}}" {% if form.media_type_id.value == type.media_type_id %} selected="selected" {%endif%}>{{type.media_type}}</option>
                                            {% endfor%}
                                           
                                        </select>
                                        <label class="form-label">Media Type</label>
                                    </div>
                                </div>

                                 <div class="form-group form-float">
                                    <div class="form-line focused">
                                       <select name="tier" class="form-control show-tick">
                                            <option >-- Please select --</option>
                                            <option {%ifequal form.tier.value 1%} selected="selected" {%endifequal%} value="1">1</option>
                                            <option {%ifequal form.tier.value 2%} selected="selected" {%endifequal%} value="2">2</option>
                                            <option {%ifequal form.tier.value 3%} selected="selected" {%endifequal%} value="3">3</option>
                                        </select>
                                        <label class="form-label">Tier</label>
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="col-md-4">
                                        
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input value="{{form.circulation.value | default_if_none:''}}" name="circulation" type="Title"  class="form-control">
                                                        <label class="form-label">Circulation</label>
                                                    </div>
                                                </div>
                                          
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input value="{{form.rate_bw.value | default_if_none:'  '}} " name="rate_bw" type="Title"  class="form-control">
                                                <label class="form-label">Rate BW</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input value="{{form.rate_fc.value | default_if_none:'' }}" name="rate_fc" type="Title"  class="form-control">
                                                <label class="form-label">Rate FC</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                         <div class="form-group form-float">
                                            <div class="form-line">
                                                <label >BAHASA</label>
                                                <input {%ifequal form.language.value "IND" %} checked="checked" {%endifequal%} name="language"  value="IND" type="radio" id="radio1" class="radio-col-cyan" />
                                                <label for="radio1">indonesia</label>
                                                <input {%ifequal form.language.value "ENG" %} checked="checked" {%endifequal%} value="ENG" name="language" type="radio" id="radio2" class="radio-col-teal" />
                                                <label for="radio2">english</label>
                                                
                                        
                                            </div>
                                        </div>
                                        
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                         <div class="form-group form-float">
                                            <div class="form-line">
                                                <label >STATUS</label>
                                                <input {%ifequal form.statuse.value "A" %} checked="checked" {%endifequal%} value="A" name="statuse" type="radio" id="radio3" class="radio-col-cyan" />
                                                <label for="radio3">aktif</label>
                                                <input {%ifequal form.statuse.value "N" %} checked="checked" {%endifequal%} name="statuse" type="radio" value="N" id="radio4" class="radio-col-teal" />
                                                <label for="radio4">tidak aktif</label>
                                                
                                        
                                            </div>
                                        </div>
                                        
                                    </div>  
                                </div>
                                <br>    
                                

                         <button class="float pull-right"><i class="glyphicon glyphicon-plus"></i></button>

                        </div>
                    </div>
                </div>
            </div>

            
          <!--   
            <a href="{% url 'upload-tv' %}" class="float pull-right">
                <i class="glyphicon glyphicon-plus" style="margin-top: 22px;"></i>
            </a>
             -->
            
        </div>
    </section>
{% endblock %}

{% block add_header %}
 <link href="{% static 'uploader/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />
<style type="text/css">
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#0C9;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }
</style>
{% endblock%}

{% block add_footer %}
<script src="{% static 'uploader/plugins/tinymce/tinymce.js' %}"></script>
  <script src="{% static 'uploader/plugins/momentjs/moment.js' %}"></script>
  <script src="{% static 'uploader/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

<script type="text/javascript">

	$(function () {

    
       

        $('.datepicker').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD',
            clearButton: true,
            weekStart: 1,
            time: false
        });
        // dddd DD MMMM YYYY
    });
</script>
{% endblock%}
