<!DOCTYPE html>
<html>
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>500 | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'uploader/favicon.ico' %}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'uploader/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'uploader/plugins/node-waves/waves.css' %}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{% static 'uploader/css/style.css' %}" rel="stylesheet">
</head>

<body class="five-zero-zero">
    <div class="five-zero-zero-container">
       
        <div class="error-message">Anda yakin akan menghapus : {{object}}</div>
        <br/>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2" >
                <div class="button">
                     <a style="color: red;" href="{{ok_link}}" class="btn btn-default btn-lg waves-effect"><i class="glyphicon glyphicon-remove"></i>HAPUS</a>
                </div>
            </div>
            <div class="col-md-2" >
                <div class="button">
                    <a href="{{cancel_link}}" class="btn btn-default btn-lg waves-effect"><i class="glyphicon glyphicon-share-alt"></i>BATAL</a>
                </div>
            </div>
            <div class="col-md-4"></div>
            
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="{% static 'uploader/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'uploader/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'uploader/plugins/node-waves/waves.js' %}"></script>
</body>

</html>