{% extends 'uploader/shared/base.html' %}
{%load static %}

{% block content %}
	<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Detail Article</h2>
            </div>

           
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6">
                                    <h2>{{article.title}}</h2>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="body">
                            
                            <p>{{article.content}}</p>
                            <br/>
                            <p><i class="font-bold col-teal">Author</i> : {{article.journalist}}</p>
                            <p><i class="font-bold col-teal">File pdf</i> : {{article.file_pdf}}</p>
                            <p><i class="font-bold col-teal">Media</i> : {{media.media_name}}</p>
                             <p><a  target="_blank" href="http://elastic.antara-insight.id/digivlaschema/content/_search?q=article_id:{{article.article_id}}&pretty=true">show elastic data</a></p>

                            {% if media.media_type_id == 12%}
                            <video width="320" height="240" controls>
                              <source src="/media/{{tv.filee}}" type="video/mp4">
                              <!-- <source src="movie.ogg" type="video/ogg"> -->
                            Your browser does not support the video tag.
                            </video>

                            {%endif%}

                        </div>
                    </div>
                   
                </div>
                
            </div>
            
          
            
        </div>
    </section>
{% endblock %}

{% block add_header %}

{% endblock%}