{% extends 'uploader/shared/base.html' %}
{%load static %}
{% load uploader_tag %}
{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Edit TV</h2>
            </div>

           
           <div class="row clearfix">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">

                                <strong>{{field.name}} : {{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6">
                                    <h2>Edit TV Detail</h2>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="body upload-form">
                            <form id="form{{form_number}}" form_number={{form_number}} name="form{{form_number}}" enctype="multipart/form-data" method="POST" title="file {{form_number}}">
                                {%csrf_token%}
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <textarea name="content" placeholder="isi berita" class="form-control">{{form.content.value | default_if_none:''}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="row">
                                            <div class="col-sm-6">
                                                 <div class="form-group">
                                                    <div class="form-line">
                                                        <input name="title" value="{{ form.title.value | default_if_none:''}}" type="text" class="form-control" placeholder="judul" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                 <div class="form-group">
                                                    <div class="form-line">
                                                        <select name="media_id" class="form-control ">
                                                            <option value="">-- Please select --</option>
                                                            {% for media in medias %}
                                                            <option {%if form.media_id.value == media.media_id%} selected="selected" {%endif%} value="{{media.media_id}}">{{media.media_name}} </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                       </div>
                                       <div class="row">
                                            <div class="col-sm-6">
                                                 <div class="form-group">
                                                    <div class="form-line">
                                                        <input name="datee" value="{{form.datee.value |date:'Y-m-d'| default_if_none:'' }}" type="text" class="form-control" placeholder="tanggal tayang" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                 <div class="form-group">
                                                    <div class="form-line">
                                                        <input name="timee" value="{{form.timee.value | default_if_none:''}}" type="text" class="form-control" placeholder="jam tayang" />
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                      
                                       <div class="row">
                                             <div class="col-sm-6">
                                                 <div class="form-group">
                                                    <div class="form-line">
                                                        <input value="{{form.duration.value | default_if_none:'' }}" name="duration" type="text" class="form-control" placeholder="durasi" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                 <div class="form-group">
                                                    <div class="form-line">
                                                        <input name="journalist" value="{{ form.journalist.value | default_if_none:'' }}" type="text" class="form-control" placeholder="pembawa berita" />
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                       <div class="row">
                                           <div class="controls">
                                                <label>{{form.filee.value | default_if_none:''}}</label>
                                              
                                            </div>
                                       </div>
                                    </div>
                                </div>
                                <button id="btn-upload" class="float pull-right" data-toggle="tooltip" title="simpan">
                                    <i class="glyphicon glyphicon-upload" style="margin-top: 15px;font-size: 22px;"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            

             
            
        </div>
    </section>
{% endblock %}

{% block add_header %}
<style type="text/css">
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#0C9;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }
</style>
{% endblock%}


{% block add_footer %}




{% endblock %}