{% extends 'uploader/shared/base.html' %}
{%load static %}

{% block content %}
	<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>List TV News</h2>
            </div>

             <div class="row clearfix" id="filter"  >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                       
                        <div class="body">
                           
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-line">

                                            <input id="sdate" name="sdate" type="text" value="{% if sdate%}{{sdate}}{%endif%}" class="datepicker form-control" placeholder="Start Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input id="edate" name="edate" type="text" class="datepicker form-control" placeholder="End Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                             <select id="media_id" name="media_id" class="form-control show-tick">
                                                    <option value="">-- Please select --</option>
                                                    {% for media in medias %}
                                                      <option value="{{media.media_id}}">{{media.media_name}}</option>
                                                    {% endfor%}
                                                   
                                                </select>
                                        </div>
                                    </div>
                                </div>
                                <button id="btn-search2" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6">
                                    <h2>LIst TV</h2>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="body table-responsive">
                           <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>MEDIA</th>
                                        <th>JUDUL</th>
                                        <th>PEMBAWA BERITA</th>
                                        <th>TANGGAL</th>
                                        <th>JAM</th>
                                        <th>DURASI</th>
                                        <th>ARTICLE ID</th>
                                        <th>FILE</th>
                                        <th>CREATEAT</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                	{% for tv in tvs %}
                                    <tr>
                                        <td scope="row">{{tv.id}}</td>
                                        <td>{{tv.media_id}}</td>
                                        <td>{{tv.title}}</td>
                                        <td>{{tv.journalist}}</td>
                                        <td>{{tv.datee}}</td>
                                        <td>{{tv.timee}}</td>
                                        <td>{{tv.duration}}</td>
                                         <td><a  target="_blank" href="{% url 'article-detail' article_id=tv.article_id|default_if_none:0 %}">{{tv.article_id}}</a> </td>
                                         <td><a href="/media/{{tv.filee.name}}">{{tv.filee.name}}</a></td>
                                         <td>{{tv.createat}}</td>
                                         <td><a href="{%url 'edit-tv' pk=tv.pk %}">Edit</a> |<a href="{% url 'delete-tv-confirm' pk=tv.id %}">Delete</a></td>
                                    </tr>
                                    {%endfor%}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination">
                            {% if tvs.has_previous %}
                            <li class="">
                                <a href="?page={{ tvs.previous_page_number }}{{qs}}">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="javascript:void(0);">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in tvs.paginator.page_range %}
                                
                                {% if tvs.number == i %}
                                    <li class="active"><a href="javascript:void(0);">{{i}}</a></li>
                                    
                                {% else %}
                                    <li><a href="?page={{ i }}{{qs}}" class="waves-effect">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if tvs.has_next %}
                                 <li>
                                    <a href="?page={{ tvs.next_page_number }}{{qs}}" class="waves-effect">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a href="javascript:void(0);" class="waves-effect">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </li>
                            {% endif %}
                           
                        </ul>
                    </nav>
                </div>
            </div>
            
            <a href="{% url 'upload-tv' %}" class="float pull-right">
                <i class="glyphicon glyphicon-plus" style="margin-top: 22px;"></i>
            </a>
            
            
        </div>
    </section>
{% endblock %}
{% block add_footer %}
<script src="{% static 'uploader/plugins/tinymce/tinymce.js' %}"></script>
<script src="{% static 'uploader/plugins/momentjs/moment.js' %}"></script>
<script src="{% static 'uploader/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $searchBar.on("keypress",function(e){
            if(e.which === 13){
                var term = $searchBar.find('input[type="text"]').val();
                var qs="";
                var sdate=$("#sdate").val();
                var edate = $("#edate").val();
                var media_id=$('#media_id').val();
                if(sdate!==""){
                    qs+="&sdate="+sdate;
                }
                if(edate !==""){
                    qs+="&edate="+edate;
                }
                if(media_id !==""){
                    qs+="&media_id="+media_id;
                }
                if(term !==""){
                    qs="?term="+term+qs;
                }else{
                    qs="?"+qs;
                }
                window.location=[location.protocol, '//', location.host, location.pathname].join('')+qs;
                
            }
        });
        $('#btn-search2').click(function(){
                var qs="";
                var sdate=$("#sdate").val();
                var edate = $("#edate").val();
                var media_id=$('#media_id').val();
                if(sdate!==""){
                    qs+="&sdate="+sdate;
                }
                if(edate !==""){
                    qs+="&edate="+edate;
                }
                if(media_id !==""){
                    qs+="&media_id="+media_id;
                }
               
                qs="?"+qs;
               
                window.location=[location.protocol, '//', location.host, location.pathname].join('')+qs;
        })


         $('.datepicker').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD',
            clearButton: true,
            weekStart: 1,
            time: false
        });
    })
</script>

{% endblock %}
{% block add_header %}
<link href="{% static 'uploader/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />

<style type="text/css">
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#0C9;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }
</style>
{% endblock%}