{% extends 'uploader/shared/base.html' %}
{%load static %}

{% block content %}
	<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Article</h2>
            </div>
        
             <div class="row clearfix" id="filter"  >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                       
                        <div class="body">
                           
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-line">

                                            <input id="sdate" name="sdate" type="text" value="{% if sdate%}{{sdate}}{%endif%}" class="datepicker form-control" placeholder="Start Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input id="edate" name="edate" type="text" class="datepicker form-control" placeholder="End Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                             <select id="media_id" name="media_id" class="form-control show-tick">
                                                    <option value="">-- Please select --</option>
                                                    {% for media in medias %}
                                                      <option value="{{media.media_id}}">{{media.media_name}}</option>
                                                    {% endfor%}
                                                   
                                                </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6">
                                    <h2>List Article Online</h2>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="body table-responsive">
                           <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ARTICLE ID</th>
                                        <th>JUDUL</th>
                                         <th>MEDIA</th>
                                        <th>PEMBAWA BERITA</th>
                                        <th>TANGGAL</th>
                                        <th>FILE</th>
                                        <th>DATE</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                	{% for article in articles %}
                                    <tr>
                                        <td scope="row">{{forloop.counter}}</td>
                                        <td><a  target="_blank" href="#">{{article.article_id}}</a> </td>
                                        <td>{{article.title}}</td>
                                         <td>{{article.media_id}}</td>
                                        <td>{{article.journalist}}</td>
                                        <td>{{article.datee}}</td>
                                  
                                         
                                         <td><a href="/media/{{article.filee.name}}">{{article.filee.name}}</a></td>
                                         <td>{{article.datee}}</td>
                                         <td><a href="{% url 'delete-online-news' pk=article.article_id %}">Delete</a></td>
                                    </tr>
                                    {%endfor%}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination">
                            {% if page > 1 %}
                            <li class="">
                                <a href="?page={{ page |add:-1 }}{{qs}}">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                            
                            {% else %}
                            <li class="disabled">
                                <a href="javascript:void(0);">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                            {% endif %}

                            {% if page >= 3%}
                             <li><a href="?page={{ page|add:-2 }}{{qs}}" class="waves-effect">{{page|add:-2 }}</a></li>
                             <li><a href="?page={{ page|add:-1 }}{{qs}}" class="waves-effect">{{page|add:-1}}</a></li>
                            {% endif %}
                            <li class="active"><a href="javascript:void(0);">{{page}}</a></li>

                             <li><a href="?page={{ page|add:1 }}{{qs}}" class="waves-effect">{{page|add:1 }}</a></li>
                             <li><a href="?page={{ page|add:2 }}{{qs}}" class="waves-effect">{{page|add:2}}</a></li>
                           
                             <li>
                                <a href="?page={{ page | add:1 }}{{qs}}" class="waves-effect">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                           
                           
                        </ul>
                    </nav>
                </div>
                
            </div>
            
            <a href="{% url 'upload-tv' %}" class="float pull-right">
                <i class="glyphicon glyphicon-plus" style="margin-top: 22px;"></i>
            </a>
            
            
        </div>
    </section>
{% endblock %}

{% block add_footer%}
<script src="{% static 'uploader/plugins/tinymce/tinymce.js' %}"></script>
  <script src="{% static 'uploader/plugins/momentjs/moment.js' %}"></script>
  <script src="{% static 'uploader/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $searchBar.on("keypress",function(e){
            if(e.which === 13){
                var term = $searchBar.find('input[type="text"]').val();
                var qs="";
                var sdate=$("#sdate").val();
                var edate = $("#edate").val();
                var media_id=$('#media_id').val();
                if(sdate!==""){
                    qs+="&sdate="+sdate;
                }
                if(edate !==""){
                    qs+="&edate="+edate;
                }
                if(media_id !==""){
                    qs+="&media_id="+media_id;
                }
                if(term !==""){
                    qs="?term="+term+qs;
                }else{
                    qs="?"+qs;
                }
                window.location=[location.protocol, '//', location.host, location.pathname].join('')+qs;
                
            }
        });

         $('.datepicker').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD',
            clearButton: true,
            weekStart: 1,
            time: false
        });
    })
</script>
{%endblock%}
{% block add_header %}
<link href="{% static 'uploader/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />
<style type="text/css">
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#0C9;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }
</style>
{% endblock%}