{% extends 'uploader/shared/base.html' %}
{%load static %}
{% load uploader_tag %}
{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>UPLOAD TV</h2>
            </div>

            <!-- Widgets -->
            <!-- <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW TASKS</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW TICKETS</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW COMMENTS</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW VISITORS</div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- #END# Widgets -->
            <!-- CPU Usage -->
           
            {% for i in form_numbers %}
                {% tv_forms i medias %}
            {% endfor %}


            

             <a href="javascript:void(0);" id="btn-upload" class="float pull-right" data-toggle="tooltip" title="upload tv">
                <i class="glyphicon glyphicon-upload" style="margin-top: 15px;font-size: 22px;"></i>
            </a>
            
        </div>
    </section>
{% endblock %}

{% block add_header %}
<style type="text/css">
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#0C9;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
    }
</style>
{% endblock%}


{% block add_footer %}
<script src="{% static 'uploader/js/bootstrap-filestyle.js' %}"></script>

<!-- <script src="{% static 'bootstrap-uploadprogress.js' %}"></script> -->
<script type="text/javascript">
var template = '<div class="modal fade" id="file-progress-modal">\
          <div class="modal-dialog">\
            <div class="modal-content">\
              <div class="modal-header">\
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
                <h4 class="modal-title">Uploading</h4>\
              </div>\
              <div class="modal-body">\
                <div class="modal-message"></div>\
                <div class="progress-group">\
                </div>\
              </div>\
              <div class="modal-footer" style="display:none">\
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>\
              </div>\
            </div>\
          </div>\
        </div>';
$modal =$(template);
(function($){
    $.support.xhrFileUpload = !!(window.FileReader && window.ProgressEvent);
    $.support.xhrFormData = !!window.FormData;

    if(!$.support.xhrFileUpload || !$.support.xhrFormData){
        // skip decorating form
        return;
    }

   
     var Uploadprogress = function(element, options){
        this.options = options;
        this.$element = $(element);
    };
    Uploadprogress.prototype = {

        constructor: function() {
            this.$form = this.$element;
            this.$form.on('submit', $.proxy(this.submit, this));
           
           
            
            this.init_modal();
        },
        init_modal:function(){
             var tmpl_progress ='<label>'+this.$form.attr('title')+'</label><div class="progress">\
                      <div  class="progress-bar progress_'+this.$form.attr('name')+'" role="progressbar" aria-valuenow="0" aria-valuemin="0"\
                           aria-valuemax="100" style="width: 0%;min-width: 2em;">\
                        0%\
                      </div>\
                    </div>';
            $modal.find('.progress-group').append(tmpl_progress); 
            this.$modal=$modal;
            this.$modal_message = this.$modal.find('.modal-message');
            this.$modal_title = this.$modal.find('.modal-title');
            this.$modal_footer = this.$modal.find('.modal-footer');
            // this.$modal_bar = this.$modal.find('.progress-bar');
            this.$modal_bar = this.$modal.find('.progress_'+this.$form.attr('name'));

            this.$modal.on('hidden.bs.modal', $.proxy(this.reset, this));
            
            this.set_progress(0);
        },

        reset: function(){
            this.$modal_title = this.$modal_title.text('Uploading');
            this.$modal_footer.hide();
            // this.$modal_bar.addClass('progress-bar-success');
            this.$modal_bar.removeClass('progress-bar-danger');
            if(this.xhr){
                this.xhr.abort();
            }
        },

        submit: function(e) {
            e.preventDefault();
            

            // this.$modal.modal({
            //     backdrop: 'static',
            //     keyboard: false
            // });

            // We need the native XMLHttpRequest for the progress event
            var xhr = new XMLHttpRequest();
            this.xhr = xhr;

            xhr.addEventListener('load', $.proxy(this.success, this, xhr));
            xhr.addEventListener('error', $.proxy(this.error, this, xhr));
            //xhr.addEventListener('abort', function(){});

            xhr.upload.addEventListener('progress', $.proxy(this.progress, this));

            var form = this.$form;
            
            xhr.open(form.attr('method'), window.location.href);
            xhr.setRequestHeader('X-REQUESTED-WITH', 'XMLHttpRequest');

            var data = new FormData(form.get(0));
            xhr.send(data);
        },

        success: function(xhr) {
            if(xhr.status == 0 || xhr.status >= 400){
                // HTTP 500 ends up here!?!
                return this.error(xhr);
            }
            this.set_progress(100);
            var url;
            var content_type = xhr.getResponseHeader('Content-Type');

            // make it possible to return the redirect URL in
            // a JSON response
            if(content_type.indexOf('application/json') !== -1){
                var response = $.parseJSON(xhr.responseText);
                url = response.location;
            }
            else{
                url = this.options.redirect_url;
            }
            // window.location.href = url;
            this.submit_next(parseInt(this.$form.attr('form_number'))+1);
            var title=this.$form.find('input[name="title"]').val();
            console.log(title);
            this.$form.replaceWith("<h2 class='font-bold col-teal'> Success Upload tv : "+title+"</h2>");


        },

        // handle form error
        // we replace the form with the returned one
        error: function(xhr){
            this.$modal_title.text('Upload failed');

            this.$modal_bar.removeClass('progress-bar-success');
            this.$modal_bar.addClass('progress-bar-danger');
            this.$modal_footer.show();

            var content_type = xhr.getResponseHeader('Content-Type');

            this.$modal_bar.text("ERROR");
            // Replace the contents of the form, with the returned html
            if(xhr.status === 422){
                // var new_html = $.parseHTML(xhr.responseText);
                // this.replace_form(new_html);
                // this.$modal.modal('hide');
            }
            // Write the error response to the document.
            else{
                var response_text = xhr.responseText;
                if(content_type.indexOf('text/plain') !== -1){
                    response_text = '<pre>' + response_text + '</pre>';
                }
                document.write(xhr.responseText);
            }
            this.submit_next(parseInt(this.$form.attr('form_number'))+1);

        },
        submit_next:function(next_form_number){
            console.log("next form "+next_form_number);
           
            if(next_form_number <= 30){
                var f=$("#form"+next_form_number);
                if(f.length == 0){
                    this.submit_next(next_form_number+1);
                }else{
                    f.submit();
                }
            }

        },

        set_progress: function(percent){
            this.$modal_bar.attr('aria-valuenow', percent);
            this.$modal_bar.text(percent + '%');
            console.log("set width : "+percent)
            this.$modal_bar.css('width', percent + '%');
        },

        progress: function(/*ProgressEvent*/e){
            var percent = Math.round((e.loaded / e.total) * 100);
            this.set_progress(percent);
        },

        // replace_form replaces the contents of the current form
        // with the form in the html argument.
        // We use the id of the current form to find the new form in the html
        replace_form: function(html){
            var new_form;
            var form_id = this.$form.attr('id');
            if(form_id !== undefined){
                new_form = $(html).find('#' + form_id);
            }
            else{
                new_form = $(html).find('form');
            }

            // add the filestyle again
            new_form.find(':file').filestyle({buttonBefore: true});
            this.$form.html(new_form.children());
        }
    };
    $.fn.uploadprogress = function(options, value){
        return this.each(function(){
            var _options = $.extend({}, $.fn.uploadprogress.defaults, options);
            var file_progress = new Uploadprogress(this, _options);
            file_progress.constructor();
        });
    };

    // $modal =$(template);
    $.fn.uploadprogress.defaults = {
        // template: template,
        modal :$modal
        //redirect_url: ...

        // need to customize stuff? Add here, and change code accordingly.
    };



})(window.jQuery);
</script>
<script>
  var $form_count=1;
  $(":file").filestyle({buttonBefore: true  });
  $("#btn-upload").click(function(){
     
     $modal.modal({
            backdrop: 'static',
            keyboard: false
        });

     
     // $(".upload-form").find('form').first().submit();
      var a=$(".upload-form").find('form').first();
      if(a.length > 0){
        a.submit();
      }


     // $(".upload-form").each(function(){
     //    $form_collections = $(this);
     //    $form_collections.each(function(){
     //        $form=$(this).find('form');
     //        $form.submit();
     //    })

     // })
  });

 $("form").uploadprogress({
   redirect_url: "{% url 'list-tv' %}"
  });
</script>
{% endblock %}