<!DOCTYPE html>
<html>
{%load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>antara-insight</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'uploader/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'uploader/plugins/node-waves/waves.css' %}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{% static 'uploader/plugins/animate-css/animate.css' %}" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="{% static 'uploader/plugins/morrisjs/morris.css' %}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{% static 'uploader/css/style.css' %}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'uploader/css/themes/all-themes.css' %}" rel="stylesheet" />
    {%block add_header%}
    {% endblock %}

</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    {% include 'uploader/shared/top-menu.html' %}
   
    <!-- #Top Bar -->
    {% include 'uploader/shared/left-menu.html' %}

    {% block content %}
    Hello 
    {% endblock %}
    <!-- Jquery Core Js -->
    <script src="{% static 'uploader/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'uploader/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Select Plugin Js -->
  <!--   <script src="{% static 'uploader/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script> -->

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'uploader/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'uploader/plugins/node-waves/waves.js' %}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'uploader/plugins/jquery-countto/jquery.countTo.js' %}"></script>

    <!-- Morris Plugin Js -->
   <!--  <script src="{% static 'uploader/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'uploader/plugins/morrisjs/morris.js' %}"></script> -->

    <!-- ChartJs -->
    <!-- <script src="{% static 'uploader/plugins/chartjs/Chart.bundle.js' %}"></script> -->

    <!-- Flot Charts Plugin Js -->
 <!--    <script src="{% static 'uploader/plugins/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'uploader/plugins/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'uploader/plugins/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'uploader/plugins/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'uploader/plugins/flot-charts/jquery.flot.time.js' %}"></script> -->

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'uploader/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'uploader/js/admin.js' %}"></script>
 <!--    <script src="{% static 'uploader/js/pages/index.js' %}"></script> -->

    <!-- Demo Js -->
    <!-- <script src="{% static 'uploader/js/demo.js' %}"></script> -->
    {% block add_footer %}
    {% endblock %}
</body>

</html>