 {% load static %}
 <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="{% static 'uploader/images/user.png' %}" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                    <div class="email">john.doe@example.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="#">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">text_fields</i>
                            <span>Media</span>
                        </a>
                        <ul class="ml-menu">
                            <li><a href="{%url 'add-media' %}">Add Media</a></li>
                             <li><a href="{%url 'list-media' %}">List Media</a></li>
                        </ul>
                    </li>
                  
                    <!-- TELEVISION -->
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons glyphicon glyphicon-film"></i>
                            <span>Televisions</span>
                        </a>
                        <ul class="ml-menu">
                            <li> <a href="{% url 'upload-tv' %}" >Upload TV</a> </li>
                            <li><a href="{% url 'list-tv' %}">News List TV</a></li>
                           
                        </ul>
                    </li>
                    <!-- RADIO -->
                    <!-- <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">swap_calls</i>
                            <span>Media Cetak</span>
                        </a>
                        <ul class="ml-menu">
                            <li><a href="" >Add Media Cetak</a> </li>
                            <li><a href="javascript:void(0);">List Media Cetak</a></li>
                           
                        </ul>
                    </li> -->
                    <!-- ONLINE NEWS (MANUAL) -->
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">assignment</i>
                            <span>Online News (Manual)</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{%url 'add-online-news' %}" >Input Online News (Manual) </a>
                            </li>
                            <li>
                                <a href="{% url 'list-online-news' %}">Online News List</a>
                            </li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'page-logout'%}" >
                            <i class="material-icons glyphicon glyphicon-lock"></i>
                            <span>Logout</span>
                        </a>
                       
                    </li>
                    
                  
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2018 <a href="javascript:void(0);">Trinix Systems</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
       
    </section>