<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>Upload File {{form_number}}</h2>
                    </div>
                    
                </div>
                
            </div>
            <div class="body upload-form">
                <form id="form{{form_number}}" form_number={{form_number}} name="form{{form_number}}" enctype="multipart/form-data" method="POST" title="file {{form_number}}">
                    {%csrf_token%}
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea name="content" placeholder="isi berita" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="row">
                                <div class="col-sm-6">
                                     <div class="form-group">
                                        <div class="form-line">
                                            <input name="title" type="text" class="form-control" placeholder="judul" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                     <div class="form-group">
                                        <div class="form-line">
                                            <select name="media_id" class="form-control ">
                                                <option value="">-- Please select --</option>
                                                {% for media in medias %}
                                                <option value="{{media.media_id}}">{{media.media_name}} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-6">
                                     <div class="form-group">
                                        <div class="form-line">
                                            <input name="datee" type="text" class="form-control" placeholder="tanggal tayang" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                     <div class="form-group">
                                        <div class="form-line">
                                            <input name="timee" type="text" class="form-control" placeholder="jam tayang" />
                                        </div>
                                    </div>
                                </div>
                           </div>
                          
                           <div class="row">
                                 <div class="col-sm-6">
                                     <div class="form-group">
                                        <div class="form-line">
                                            <input name="duration" type="text" class="form-control" placeholder="durasi" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                     <div class="form-group">
                                        <div class="form-line">
                                            <input name="journalist" type="text" class="form-control" placeholder="pembawa berita" />
                                        </div>
                                    </div>
                                </div>
                           </div>
                           <div class="row">
                               <div class="controls">
                                    <input class="clearablefileinput" id="id_file" name="filee" accept="video/mp4" type="file">
                                   
                                </div>
                           </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>